<a href="https://colab.research.google.com/github/SrinivasSistlaKL/Mainflow_internship_dataanalysis_task1/blob/main/mainflowtask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Load CSV file into a DataFrame
df = pd.read_csv('sample_data.csv')

# Display the first few rows of the DataFrame
print("Original DataFrame:")
print(df.head())

# Filter rows where the column 'age' is greater than 30
filtered_df = df[df['age'] > 30]
print("\nFiltered DataFrame (age > 30):")
print(filtered_df.head())

# Handling missing values

# Drop rows with any missing values
df_dropped = df.dropna()
print("\nDataFrame after dropping rows with missing values:")
print(df_dropped.head())

# Fill missing values with 0
df_filled = df.fillna(value=0)
print("\nDataFrame after filling missing values with 0:")
print(df_filled.head())

# Fill missing values in a specific column with the column mean
df['age'].fillna(df['age'].mean(), inplace=True)
print("\nDataFrame after filling missing values in 'age' column with the column mean:")
print(df.head())

# Calculate summary statistics
summary_stats = df.describe()
print("\nSummary Statistics:")
print(summary_stats)

# Calculate the mean of the 'age' column
column_mean = df['age'].mean()
print("\nMean of 'age' column:")
print(column_mean)

# Calculate the median of the 'age' column
column_median = df['age'].median()
print("\nMedian of 'age' column:")
print(column_median)

# Calculate the sum of the 'age' column
column_sum = df['age'].sum()
print("\nSum of 'age' column:")
print(column_sum)

Original DataFrame:
      name   age         city    salary
0    Alice  25.0     New York   70000.0
1      Bob  35.0  Los Angeles   80000.0
2  Charlie   NaN      Chicago  120000.0
3    David  45.0          NaN   90000.0
4      Eva  30.0      Houston       NaN

Filtered DataFrame (age > 30):
    name   age         city   salary
1    Bob  35.0  Los Angeles  80000.0
3  David  45.0          NaN  90000.0

DataFrame after dropping rows with missing values:
    name   age         city   salary
0  Alice  25.0     New York  70000.0
1    Bob  35.0  Los Angeles  80000.0

DataFrame after filling missing values with 0:
      name   age         city    salary
0    Alice  25.0     New York   70000.0
1      Bob  35.0  Los Angeles   80000.0
2  Charlie   0.0      Chicago  120000.0
3    David  45.0            0   90000.0
4      Eva  30.0      Houston       0.0

DataFrame after filling missing values in 'age' column with the column mean:
      name    age         city    salary
0    Alice  25.00     New York   70000.0
1      Bob  35.00  Los Angeles   80000.0
2  Charlie  33.75      Chicago  120000.0
3    David  45.00          NaN   90000.0
4      Eva  30.00      Houston       NaN

Summary Statistics:
           age         salary
count   5.0000       4.000000
mean   33.7500   90000.000000
std     7.3951   21602.468995
min    25.0000   70000.000000
25%    30.0000   77500.000000
50%    33.7500   85000.000000
75%    35.0000   97500.000000
max    45.0000  120000.000000

Mean of 'age' column:
33.75

Median of 'age' column:
33.75

Sum of 'age' column:
168.75